*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.calendar{
    width: 28rem;
    height: 373px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #333333;
    
}
.calendar-header{
    width: 100%;
    padding: 30px 10px;
    display: flex;
    font-size: 24px;
    background-color: rgb(28, 156, 216);
    color: #fff;
}
.calendar-header .calendar-year{
    width: 70%;
    text-align: center;
}
.calendar-header .calendar-arrow{
    width: 15%;
    text-align: center;
    color: #333333;
}
.calendar-header a{
    color: #333333;
}
.calendar-week{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 10px 0;
}
.calendar-week > div{
    width: calc(27.2rem/7);
    
}
.calendar-date{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}
.calendar-date > div{
    width: calc(27.2rem/7);
    padding: 10px 0;
    cursor: pointer;
}
.calendar-date > div:hover:not(.current-date){
    background-color: #262626;
    color: #fff;
    cursor: pointer;
}
.nextMonth, .prevMonth{
    color: #999999;
}
.current-date{
    background-color: rgb(42, 42, 158);
    color: #fff;
}